@charset "UTF-8";
@import url("content.css");
@import "./graph.css";
@import "./plugins.css";
@import "./workspace.css";

/*────────────────────────────────────
++++++++++++Fonts++++++++++++
────────────────────────────────────*/
@font-face {
  font-family: "Karla";
  src: url("./Karla.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("./Karla-Italic.ttf");
  font-style: italic;
  font-display: swap;
}

/*────────────────────────────────────
++++++++++++Variables+++++++++++++++++
────────────────────────────────────*/
:root,
body {
  /*──────────Font Families──────────*/
  --font-preview: var(--font-text);
  --font-preview-header: var(--font-text);
  --font-editor: var(--font-text);
  --font-editor-header: var(--font-text);
  /* Original Obsidian Font Variables */
  --font-interface-theme: "Karla", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --font-text-theme: "Karla", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --font-monospace-theme: "Cascadia Code", Inconsolata, Courier, monospace;
  --font-mermaid: var(--font-preview);
  --default-font: var(--font-interface-theme);
  --font-code: var(--font-monospace-theme);
  /*──────────Font Weight──────────*/
  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  /*──────────Typography Modular Scale──────────*/
  /*  Based on Standard 18px  */
  --line-width: 700px;
  --font-scale-000: 0.547em;
  --font-scale-00: 0.676em;
  --font-scale-0: 0.81em;
  --font-scale-0-5: 0.875em;
  --font-scale-1: 1em;
  --font-scale-2: 1.08em;
  --font-scale-3: 1.12em;
  --font-scale-4: 1.25em;
  --font-scale-5: 1.37em;
  --font-scale-6: 1.6em;
  --font-scale-7: 2em;
  --line-height-0: 1em;
  --line-height-0-5: 1.2em;
  --line-height-1: 1.53em;
  --font-text-size: var(--editor-font-size);
  --font-ui-small: 14px;
  --font-ui-smaller: var(--font-scale-0-5);
  --oz-fta-folder-font-size: 15px;
  /*──────────Tracking (Letter Spacing)──────────*/
  --tracking-0: 0px;
  --tracking-1: 0.16px;
  --tracking-2: 0.32px;
  --tracking-3: 0.64px;
  --tracking-4: 1.28px;
  --tracking-5: 2.56px;
  /*──────────Layout Sizing──────────*/
  /* Obsidian Defaults */
  --border-width: 1px;
  --scale-0-0: 0px;
  /* Multiples of 2 */
  --scale-2-1: 2px;
  --scale-2-2: 4px;
  --scale-2-3: 6px;
  --scale-2-4: 8px;
  --scale-2-5: 10px;
  --scale-2-6: 12px;
  --scale-2-8: 16px;
  --scale-2-9: 18px;
  --scale-2-10: 20px;
  --scale-2-18: 36px;
  /* Multiples of 8 */
  --scale-8-1: 8px;
  --scale-8-2: 16px;
  --scale-8-3: 24px;
  --scale-8-4: 32px;
  --scale-8-5: 40px;
  --scale-8-6: 48px;
  --scale-8-7: 54px;
  --scale-8-8: 64px;
  --scale-8-9: 72px;
  --scale-8-10: 80px;
  --scale-8-12: 96px;
  --scale-8-18: 144px;
  --scale-8-36: 288px;
  /*──────────Shadow Sizing──────────*/
  --shadow-xs: 0px 0px 3px 1px;
  --shadow-s: 0px 2px 8px -1px;
  --shadow-m: 0px 4px 16px -2px;
  --shadow-l: 0px 8px 24px -3px;
  --shadow-xl: 0px 12px 32px -4px;
  /*──────────Duration, Transitions & Animations──────────*/
  /* Duration */
  --duration-none: 0;
  --duration-superfast: 70ms;
  --duration-fast-1: 140ms;
  --duration-fast-2: 260ms;
  --duration-moderate-1: 300ms;
  --duration-moderate-2: 440ms;
  --duration-slow-1: 560ms;
  --duration-slow-2: 600ms;
  /* Transitions & Animations */
  --motion-smooth: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  /* easeInOutSine */
  --motion-delay: cubic-bezier(0.65, 0.05, 0.36, 1);
  /* easeInOutCubic */
  --motion-jumpy: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* easeInOutBack */

  /* Callouts */
  --callout-padding: 0;
}

/*────────────────────────────────────
            Light Theme
────────────────────────────────────*/
.theme-light {
  --background-primary: var(--color-l-white);
  --background-primary-alt: var(--color-l-gray-10);
  --background-secondary: var(--color-l-gray-10);
  --background-secondary-alt: var(--color-l-white);
  --background-modifier-border: var(--color-l-gray-40);
  --background-modifier-form-field: var(--color-l-gray-30);
  --background-modifier-form-field-highlighted: var(--color-l-gray-40);
  --background-modifier-box-shadow: var(--color-l-shadow-100);
  --background-modifier-success: var(--color-l-green-300);
  --background-modifier-error: var(--color-l-red-300);
  --background-modifier-error-hover: var(--color-l-red-500);
  --background-modifier-cover: var(--color-l-shadow-cover);
  --text-normal: var(--color-l-black);
  --text-muted: var(--color-l-gray-60);
  --text-faint: var(--color-l-gray-50);
  --text-accent: var(--color-l-yellow-900);
  --text-accent-hover: var(--color-l-yellow-500);
  --text-error: var(--color-l-red);
  --text-error-hover: var(--color-l-red-900);
  --text-highlight-bg: var(--color-l-highlight-yellow);
  --text-highlight-bg-active: var(--color-l-highlight-yellow);
  --highlight-mix-blend-mode: darken;
  --text-selection: var(--color-l-gray-40);
  --text-on-accent: var(--color-l-gray-10);
  --interactive-hover: var(--color-l-gray-10);
  --interactive-accent: var(--color-l-gray-60);
  --interactive-accent-rgb: 207, 182, 150;
  --interactive-accent-hover: var(--color-l-gray-70);
  --interactive-success: var(--color-l-green-500);
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: var(--background-modifier-border);
  --scrollbar-active-thumb-bg: var(--interactive-accent);
  /*──────────The PRIMARY Color Palette for Light Theme──────────*/
  --color-l-whiter: hsl(36, 36%, 96.9%);
  --color-l-white: hsl(35, 36%, 95%);
  --color-l-gray: var(--color-l-gray-50);
  --color-l-gray-10: hsl(36, 37%, 92%);
  --color-l-gray-20: hsl(35, 35%, 90%);
  --color-l-gray-30: hsl(34, 36%, 88%);
  --color-l-gray-40: hsl(36, 37%, 83%);
  --color-l-gray-50: hsl(34, 37%, 70%);
  --color-l-gray-60: hsl(34, 28%, 60%);
  --color-l-gray-70: hsl(31, 23%, 50%);
  --color-l-gray-80: hsl(34, 27%, 40%);
  --color-l-gray-90: hsl(34, 30%, 37%);
  --color-l-gray-100: hsl(35, 32%, 30%);
  --color-l-black: hsl(31, 45%, 20%);
  --color-l-blacker: hsl(32, 55%, 12%);
  --color-l-shadow-10: rgba(168, 160, 148, 0.8);
  --color-l-shadow-50: rgba(180, 172, 161, 0.3);
  --color-l-shadow-100: rgba(75, 70, 64, 0.2);
  --color-l-shadow-cover: rgba(177, 171, 164, 0.5);
  --color-l-yellow: var(--color-l-yellow-500);
  --color-l-yellow-300: hsl(43, 71%, 67%);
  --color-l-yellow-500: hsl(43, 78%, 52%);
  --color-l-yellow-700: hsl(43, 100%, 42%);
  --color-l-yellow-900: hsl(43, 89%, 38%);
  --color-l-red: var(--color-l-red-500);
  --color-l-red-300: hsl(4, 54%, 61%);
  --color-l-red-500: hsl(4, 72%, 55%);
  --color-l-red-700: hsl(4, 56%, 48%);
  --color-l-red-900: hsl(4, 66%, 30%);
  --color-l-blue: var(--color-l-blue-500);
  --color-l-blue-300: hsl(198, 39%, 56%);
  --color-l-blue-500: hsl(205, 66%, 46%);
  --color-l-blue-700: hsl(205, 63%, 39%);
  --color-l-blue-900: hsl(205, 95%, 25%);
  --color-l-orange: var(--color-l-orange-500);
  --color-l-orange-300: hsl(26, 66%, 57%);
  --color-l-orange-500: hsl(21, 82%, 55%);
  --color-l-orange-700: hsl(18, 69%, 50%);
  --color-l-orange-900: hsl(24, 96%, 35%);
  --color-l-orange-a: hsl(27, 81%, 46%);
  --color-l-green: var(--color-l-green-500);
  --color-l-green-300: hsl(154, 58%, 65%);
  --color-l-green-500: hsl(154, 47%, 49%);
  --color-l-green-700: hsl(155, 52%, 38%);
  --color-l-green-900: hsl(165, 63%, 29%);
  --color-l-violet: var(--color-l-violet-500);
  --color-l-violet-300: hsl(270, 50%, 74%);
  --color-l-violet-500: hsl(266, 31%, 57%);
  --color-l-violet-700: hsl(267, 37%, 43%);
  --color-l-violet-900: hsl(266, 70%, 30%);
  /*~ Highlights */
  --ui-color-highlight-text: var(--color-l-black);
  --ui-color-highlight-bg: hsl(43, 85%, 79%);
  --color-highlight-yellow: rgba(255, 187, 0, 0.2);
  --color-highlight-red: rgba(240, 79, 106, 0.2);
  --color-highlight-blue: rgba(40, 178, 194, 0.2);
  --color-highlight-orange: rgba(255, 115, 0, 0.2);
  --color-highlight-green: rgba(153, 189, 36, 0.2);
  --color-highlight-violet: rgba(113, 122, 255, 0.2);
  /*~ Graph View */
  --graph-color-node-resolved: var(--color-l-blue-500);
  --graph-color-node-unresolved: var(--color-l-yellow-500);
  --graph-color-node-unresolved-opacity: 1;
  --graph-color-node-tag: var(--color-l-red-500);
  --graph-color-node-attachment: var(--color-l-green-300);
  --graph-color-node-focused: var(--color-l-gray-80);
  --graph-color-node-border-hover: var(--color-l-gray-50);
  --graph-color-node-arrow: var(--color-l-gray-60);
  --graph-color-node-line: var(--color-l-gray-40);
  --graph-color-node-line-hover: var(--color-l-gray-50);
  --graph-color-node-text: var(--color-l-black);

  /* Normal Colors */
  --h1-text-color: var(--text-normal);
  ;
  --h2-text-color: #4876d6;
  --h3-text-color: #00838f;
  --h4-text-color: var(--text-normal);
  --h5-text-color: var(--text-normal);
  --h6-text-color: var(--text-muted);
}

/*────────────────────────────────────
            Dark Theme
────────────────────────────────────*/
.theme-dark {
  /*─────────Original Obsidian Variables──────────*/
  --background-primary: var(--color-d-gray-70);
  --background-primary-alt: var(--color-d-gray-90);
  --background-secondary: var(--color-d-gray-80);
  --background-secondary-alt: var(--color-d-gray-90);
  --background-modifier-border: var(--color-d-gray-50);
  --background-modifier-form-field: var(--color-d-blacker);
  --background-modifier-form-field-highlighted: var(--color-d-black);
  --background-modifier-box-shadow: var(--color-d-shadow-100);
  --background-modifier-success: var(--color-d-green-300);
  --background-modifier-error: var(--color-d-red-500);
  --background-modifier-error-hover: var(--color-d-red-700);
  --background-modifier-cover: var(--color-d-shadow-cover);
  --text-normal: var(--color-d-white);
  --text-muted: var(--color-d-gray-20);
  --text-faint: var(--color-d-gray-30);
  --text-accent: var(--color-d-yellow-500);
  --text-accent-hover: var(--color-d-yellow-300);
  --text-error: var(--color-d-red-500);
  --text-error-hover: var(--color-d-red-300);
  --text-highlight-bg: var(--color-d-highlight-yellow);
  --text-highlight-bg-active: var(--color-d-highlight-yellow);
  --highlight-mix-blend-mode: lighten;
  --text-selection: var(--color-d-gray-50);
  --text-on-accent: var(--color-d-white);
  --interactive-hover: var(--color-d-gray-60);
  --interactive-accent: var(--color-d-gray-40);
  --interactive-accent-rgb: 92, 78, 61;
  --interactive-accent-hover: var(--color-d-gray-50);
  --interactive-success: var(--color-d-green-700);
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: var(--background-modifier-border);
  --scrollbar-active-thumb-bg: var(--interactive-accent);
  /*──────────The PRIMARY Color Palette for Dark Theme──────────*/
  --color-d-whiter: hsl(33, 66%, 90%);
  --color-d-white: hsl(34, 50%, 80%);
  --color-d-gray: var(--color-d-gray-50);
  --color-d-gray-10: hsl(34, 18%, 62%);
  --color-d-gray-20: hsl(35, 27%, 55%);
  --color-d-gray-30: hsl(34, 24%, 30%);
  --color-d-gray-40: hsl(33, 22%, 30%);
  --color-d-gray-50: hsl(33, 20%, 20%);
  --color-d-gray-60: hsl(30, 19%, 17%);
  --color-d-gray-70: hsl(208, 95%, 8%);
  --color-d-gray-80: hsl(207, 96%, 10%);
  --color-d-gray-90: hsl(206, 95%, 8%);
  --color-d-gray-100: hsl(30, 20%, 8%);
  --color-d-black: #02223c;
  --color-d-blacker: hsl(26, 16%, 9%);
  --color-d-shadow-10: rgba(29, 21, 13, 0.45);
  --color-d-shadow-50: rgba(29, 26, 22, 0.75);
  --color-d-shadow-100: rgba(19, 16, 13, 0.95);
  --color-d-shadow-cover: rgba(37, 34, 29, 0.74);
  --color-d-yellow: var(--color-d-yellow-500);
  --color-d-yellow-300: hsl(46, 91%, 69%);
  --color-d-yellow-500: hsl(50, 100%, 46%);
  --color-d-yellow-700: hsl(43, 100%, 42%);
  --color-d-yellow-900: hsl(39, 92%, 33%);
  --color-d-yellow-a: hsl(43, 75%, 52%);
  --color-d-red: var(--color-d-red-500);
  --color-d-red-300: hsl(4, 100%, 68%);
  --color-d-red-500: hsl(4, 65%, 60%);
  --color-d-red-700: hsl(4, 90%, 61%);
  --color-d-red-900: hsl(4, 77%, 38%);
  --color-d-red-a: hsl(4, 61%, 53%);
  --color-d-blue: var(--color-d-blue-500);
  --color-d-blue-300: hsl(198, 39%, 56%);
  --color-d-blue-500: hsl(198, 62%, 57%);
  --color-d-blue-700: hsl(198, 57%, 55%);
  --color-d-blue-900: hsl(198, 75%, 35%);
  --color-d-blue-a: hsl(197, 58%, 48%);
  --color-d-orange: var(--color-d-orange-500);
  --color-d-orange-300: hsl(22, 92%, 64%);
  --color-d-orange-500: hsl(22, 92%, 57%);
  --color-d-orange-700: hsl(21, 88%, 51%);
  --color-d-orange-900: hsl(20, 80%, 41%);
  --color-d-orange-a: hsl(27, 77%, 51%);
  --color-d-green: var(--color-d-green-500);
  --color-d-green-300: hsl(150, 66%, 53%);
  --color-d-green-500: hsl(154, 52%, 46%);
  --color-d-green-700: hsl(154, 61%, 39%);
  --color-d-green-900: hsl(155, 81%, 24%);
  --color-d-green-a: hsl(96, 50%, 49%);
  --color-d-violet: var(--color-d-violet-500);
  --color-d-violet-300: hsl(256, 63%, 74%);
  --color-d-violet-500: hsl(263, 60%, 67%);
  --color-d-violet-700: hsl(256, 52%, 57%);
  --color-d-violet-900: hsl(256, 44%, 50%);
  --color-d-violet-a: hsl(246, 53%, 67%);
  /*~ Highlights */
  --ui-color-highlight-text: var(--color-d-black);
  --ui-color-highlight-bg: hsl(43, 61%, 56%);
  --color-highlight-yellow: rgba(255, 187, 0, 0.2);
  --color-highlight-red: rgba(240, 79, 106, 0.2);
  --color-highlight-blue: rgba(40, 178, 194, 0.2);
  --color-highlight-orange: rgba(255, 115, 0, 0.2);
  --color-highlight-green: rgba(153, 189, 36, 0.2);
  --color-highlight-violet: rgba(113, 122, 255, 0.2);
  /*~ Graph View */
  --graph-color-node-resolved: var(--color-d-blue-900);
  --graph-color-node-unresolved: var(--color-d-yellow-700);
  --graph-color-node-unresolved-opacity: 1;
  --graph-color-node-tag: var(--color-d-red-500);
  --graph-color-node-attachment: var(--color-d-green-500);
  --graph-color-node-focused: var(--color-d-white);
  --graph-color-node-border-hover: var(--color-d-gray-10);
  --graph-color-node-arrow: var(--color-d-gray-40);
  --graph-color-node-line: var(--color-d-gray-50);
  --graph-color-node-line-hover: var(--color-d-gray-40);
  --graph-color-node-text: var(--color-d-gray-10);

  --h1-text-color: #ff79c6;
  --h2-text-color: #82aaff;
  --h3-text-color: #c5e478;
  --h4-text-color: #ffb86c;
  --h5-text-color: #50fa7b;
  --h6-text-color: #8be9fd;
}

/*────────────────────────────────────
++++++++++++++++++++++++++++++++++++++
            Other Components
++++++++++++++++++++++++++++++++++++++
──────────────────────────────────────*/
/*────────────────────────────────────
            Modals
────────────────────────────────────*/
/*─────────All Modals──────────*/
.modal {
  width: clamp(200px, 90vw, 960px);
  height: auto;
  border-radius: var(--scale-2-8);
  overflow-y: hidden;
  background: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  /*─────────Settings Modal──────────*/
  /*─────────Command, Quick Switcher etc. Modals──────────*/
}

.modal.mod-settings,
.modal.mod-settings .vertical-tab-container {
  width: clamp(200px, 90vw, 960px);
  min-height: 20vh;
  height: auto;
  max-height: 70vh;
  border-radius: var(--scale-2-8);
  overflow-y: hidden;
  border: 1px solid var(--background-modifier-border);
}

.theme-light .modal.mod-settings,
.theme-light .modal.mod-settings .vertical-tab-container {
  box-shadow: var(--shadow-xl) var(--color-l-shadow-100);
}

.theme-dark .modal.mod-settings,
.theme-dark .modal.mod-settings .vertical-tab-container {
  box-shadow: var(--shadow-xl) var(--color-d-shadow-100);
}

.modal.mod-settings .setting-item-control button.clickable-icon,
.modal.mod-settings .vertical-tab-container .setting-item-control button.clickable-icon {
  padding: 0;
  margin-right: var(--scale-2-4);
}

.modal.mod-community-theme.mod-community-theme,
.modal.mod-community-plugin {
  width: clamp(200px, 90vw, 960px);
  min-height: 90vh;
  overflow: hidden;
}

.modal.mod-image-lightbox {
  width: clamp(200px, 95vw, 1920px);
  min-height: 20vh;
  height: auto;
  max-height: 90vh;
  border-radius: var(--scale-2-8);
  overflow-y: hidden;
}

.modal .vertical-tab-nav-item {
  text-transform: capitalize;
}

.modal-title {
  text-transform: capitalize;
  text-align: left;
}

.modal.mod-community-theme .modal-title {
  margin-left: var(--scale-8-3);
}

.modal .setting-hotkey {
  display: flex;
  align-items: center;
  align-self: center;
}

.modal .setting-hotkey .setting-delete-hotkey {
  margin-right: 0;
  margin-left: var(--scale-2-6);
}

.modal .modal-content .vertical-tab-header,
.modal .modal-content .vertical-tab-header-group,
.modal .modal-content .vertical-tab-content-container {
  padding: 0;
}

.modal .modal-content .vertical-tab-content {
  padding: var(--scale-8-4) var(--scale-8-4) var(--scale-8-4) var(--scale-8-4);
}

.modal .modal-content .vertical-tab-header,
.modal .modal-content .vertical-tab-content-container .vertical-tab-content {
  flex: 0 0 220px;
}

.theme-light .modal .modal-content .vertical-tab-header,
.theme-light .modal .modal-content .vertical-tab-content-container .vertical-tab-content {
  background: var(--color-l-white);
}

.theme-dark .modal .modal-content .vertical-tab-header,
.theme-dark .modal .modal-content .vertical-tab-content-container .vertical-tab-content {
  background: var(--color-d-gray-70);
}

.modal .modal-content .vertical-tab-header-group,
.modal .modal-content .vertical-tab-nav-item {
  background: var(--background-secondary);
}

.modal .modal-content .vertical-tab-header-group-title {
  font-weight: var(--font-bold);
}

.modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item {
  background: transparent;
  padding: var(--scale-2-2) var(--scale-2-4) var(--scale-2-2) var(--scale-2-8);
  border: 1px solid transparent;
  border-radius: var(--scale-2-2);
  border-left: none;
  margin: var(--scale-0-0) var(--scale-2-4) var(--scale-0-0) var(--scale-2-4);
  transition: var(--duration-superfast) var(--motion-smooth);
}

.modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item:last-of-type {
  margin-bottom: var(--scale-2-5);
}

.modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item.is-active {
  font-weight: var(--font-bold);
  z-index: 2;
}

.theme-light .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item:hover {
  color: var(--color-l-gray-80);
  background: var(--color-l-gray-10);
}

.theme-light .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item:active {
  color: var(--color-l-gray-50);
  background: var(--color-l-gray-40);
}

.theme-light .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item.is-active {
  color: var(--color-l-whiter);
  border: 1px solid rgba(100, 100, 100, 0.3);
  box-shadow: 0px -2px 0px 0px rgba(100, 100, 100, 0.15) inset, 0px 1px 4px 0px rgba(100, 100, 100, 0.25);
}

.theme-light .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item:nth-child(3n+1).is-active {
  background: var(--color-l-yellow-500);
}

.theme-light .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item:nth-child(3n+2).is-active {
  background: var(--color-l-red-300);
}

.theme-light .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item:nth-child(3n+3).is-active {
  background: var(--color-l-blue-300);
}

.theme-dark .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item:hover {
  color: var(--color-d-gray-20);
  background: var(--color-d-gray-60);
}

.theme-dark .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item:active {
  color: var(--color-d-gray-40);
  background: var(--color-d-blacker);
}

.theme-dark .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item.is-active {
  color: var(--color-d-black);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

.theme-dark .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item:nth-child(3n+1).is-active {
  background: var(--color-d-yellow-700);
}

.theme-dark .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item:nth-child(3n+2).is-active {
  background: var(--color-d-red-500);
}

.theme-dark .modal .modal-content .vertical-tab-header-group-items .vertical-tab-nav-item:nth-child(3n+3).is-active {
  background: var(--color-d-blue-300);
}

.modal-container .suggestion-item {
  font-size: var(--font-scale-1);
  line-height: var(--line-height-0-5);
  padding: var(--scale-2-3) var(--scale-2-3) var(--scale-2-3) var(--scale-8-1);
  border-radius: var(--scale-2-2);
  border: 1px solid transparent;
}

.modal-container .suggestion-item span.suggestion-prefix {
  color: var(--text-muted);
  font-size: 90%;
  font-style: italic;
  text-transform: uppercase;
  margin-right: var(--scale-8-1);
}

.modal-container .suggestion-item span.suggestion-prefix::after {
  display: none;
}

.theme-light .modal-container .suggestion-item.is-selected {
  background: var(--color-l-gray-20);
  border: 1px solid var(--color-l-gray-40);
}

.theme-light .modal-container .suggestion-item.is-selected kbd.suggestion-hotkey {
  background: var(--color-l-whiter);
}

.theme-light .modal-container .suggestion-item.is-selected:active {
  color: var(--text-muted);
  background: var(--color-l-gray-40);
  border: 1px solid var(--color-l-gray-50);
}

.theme-light .modal-container .suggestion-item.is-selected:active kbd.suggestion-hotkey {
  background: var(--color-l-gray-20);
  padding-top: 3px;
  padding-bottom: 1px;
  box-shadow: none;
}

.theme-light .modal-container .suggestion-item.is-selected:active .suggestion-flair,
.theme-light .modal-container .suggestion-item.is-selected:active .suggestion-note {
  color: var(--text-faint);
}

.theme-dark .modal-container .suggestion-item.is-selected {
  background: var(--color-d-gray-50);
  border: 1px solid var(--color-d-gray-40);
}

.theme-dark .modal-container .suggestion-item.is-selected kbd.suggestion-hotkey {
  background: var(--color-d-gray-70);
}

.theme-dark .modal-container .suggestion-item.is-selected:active {
  color: var(--text-faint);
  background: var(--color-d-gray-90);
  border: 1px solid var(--color-d-gray-50);
}

.theme-dark .modal-container .suggestion-item.is-selected:active kbd.suggestion-hotkey {
  background: var(--color-d-gray-100);
  padding-top: 3px;
  padding-bottom: 1px;
  box-shadow: none;
}

.theme-dark .modal-container .suggestion-item.is-selected:active .suggestion-flair,
.theme-dark .modal-container .suggestion-item.is-selected:active .suggestion-note {
  color: var(--text-faint);
}

.modal-container .suggestion-flair {
  position: relative;
  left: initial;
  top: initial;
  margin-right: var(--scale-2-3);
}

.modal-container .prompt .suggestion-flair {
  float: left;
  margin-top: 1px;
}

/* Modal Close Close Buttons */
.slides-close-btn,
.modal-close-button {
  cursor: pointer;
  border-radius: var(--scale-8-3);
}

.theme-light .slides-close-btn:before,
.theme-light .modal-close-button:before {
  color: var(--color-l-gray-20);
}

.theme-dark .slides-close-btn:before,
.theme-dark .modal-close-button:before {
  color: var(--color-d-gray-80);
}

.theme-light .slides-close-btn,
.theme-light .modal-close-button {
  background: var(--color-l-red-300);
  box-shadow: 0px 1px 2px 0px rgba(100, 100, 100, 0.5), 0px -2px 0px 0px rgba(100, 20, 20, 0.18) inset;
}

.theme-light .slides-close-btn:hover,
.theme-light .modal-close-button:hover {
  background: var(--color-l-red-500);
}

.theme-light .slides-close-btn:active,
.theme-light .modal-close-button:active {
  background: var(--color-l-red-700);
  box-shadow: 0px 0px 0px 2px rgba(150, 20, 20, 0.55) inset;
}

.theme-dark .slides-close-btn,
.theme-dark .modal-close-button {
  background: var(--color-d-red-500);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25), 0px -2px 0px 0px rgba(50, 10, 10, 0.35) inset;
}

.theme-dark .slides-close-btn:hover,
.theme-dark .modal-close-button:hover {
  background: var(--color-d-red-300);
}

.theme-dark .slides-close-btn:active,
.theme-dark .modal-close-button:active {
  background: var(--color-d-red-700);
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.45) inset;
}

/*─────────Menu/More Options Modal──────────*/
.menu {
  border: 1px solid var(--background-modifier-border);
  border-radius: var(--scale-2-4);
}

.theme-light .menu {
  box-shadow: var(--shadow-s) var(--color-l-shadow-100);
}

.theme-dark .menu {
  box-shadow: var(--shadow-m) var(--color-d-shadow-100);
}

.theme-light .menu .menu-item.selected:active {
  color: var(--color-l-gray-50);
  background: var(--color-l-gray-40);
}

.theme-light .menu .menu-item.selected:active .menu-item-icon svg {
  background: var(--color-l-gray-50);
}

.theme-dark .menu .menu-item.selected:active {
  color: var(--color-d-gray-40);
  background: var(--color-d-blacker);
}

.theme-dark .menu .menu-item.selected:active .menu-item-icon svg {
  background: var(--color-d-gray-40);
}

.menu .menu-item.menu-item-icon {
  vertical-align: -1px;
}

/*─────────File Explorer Search Modal─────────*/
.suggestion-container.mod-search-suggestion {
  padding: var(--scale-0-0) var(--scale-0-0) var(--scale-0-0) var(--scale-0-0);
  border-radius: var(--scale-2-4);
  overflow-x: hidden;
}

.suggestion-container.mod-search-suggestion .suggestion {
  padding: var(--scale-0-0) var(--scale-0-0) var(--scale-0-0) var(--scale-0-0);
}

.theme-light .suggestion-container.mod-search-suggestion {
  box-shadow: var(--shadow-m) var(--color-l-shadow-100);
}

.theme-dark .suggestion-container.mod-search-suggestion {
  box-shadow: var(--shadow-m) var(--color-d-shadow-100);
}

.suggestion-item.search-suggest-item.mod-complex:not(.mod-group) {
  line-height: var(--line-height-0-5);
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: var(--scale-2-3) var(--scale-2-8) var(--scale-2-3) var(--scale-2-8);
  border-radius: 0;
  margin: 0;
}

.suggestion-item.search-suggest-item.mod-complex:not(.mod-group):nth-of-child(6) {
  margin-bottom: var(--scale-2-2);
}

.suggestion-item.search-suggest-item.mod-complex:not(.mod-group):last-child {
  margin-bottom: var(--scale-2-2);
}

.suggestion-item.search-suggest-item.mod-complex:not(.mod-group):active {
  color: var(--color-l-gray-50);
  background: var(--color-l-gray-40);
}

.suggestion-item.search-suggest-item.mod-group {
  font-size: var(--font-scale-0-5);
  border-radius: 0;
  border-bottom: 1px solid var(--background-modifier-border);
  margin-bottom: var(--scale-2-2);
}

.suggestion-item .search-suggest-info-text {
  color: var(--text-muted);
}

.suggestion-item .search-suggest-info-text:active {
  color: var(--text-faint);
}

.list-item-part.search-suggest-icon.clickable-icon {
  margin: 0;
}

/*─────────Prompts──────────*/
.prompt {
  border-radius: var(--scale-2-8);
  overflow-y: hidden;
  border: 1px solid var(--background-modifier-border);
}

.prompt-results {
  padding-right: var(--scale-2-4);
}

.theme-light .prompt {
  box-shadow: var(--shadow-xl) var(--color-l-shadow-100);
}

.theme-dark .prompt {
  box-shadow: var(--shadow-xl) var(--color-d-shadow-100);
}

.prompt-instructions {
  font-size: var(--font-scale-0-5);
  display: flex;
  justify-content: center;
  padding: var(--scale-2-3) var(--scale-2-4) var(--scale-2-3) var(--scale-2-4);
  border-top: 1px solid var(--background-modifier-border);
}

.prompt-instruction:last-child {
  margin-right: 0;
}

/*───────── Loading Progress Status in Modals ──────────*/
.is-loading:before {
  border-radius: var(--scale-2-4);
  border: 1px solid var(--background-modifier-border);
}

.theme-light .is-loading:before {
  background: var(--color-l-green-500);
}

.theme-dark .is-loading:before {
  background: var(--color-d-green-900);
}

/*────────────────────────────────────
        Buttons Component
────────────────────────────────────*/
/* don't remove !important */
.theme-light button,
.theme-dark button {
  font-family: var(--font-interface-theme) !important;
  padding: var(--scale-2-3) var(--scale-2-8) var(--scale-2-4) var(--scale-2-8) !important;
  margin-top: var(--scale-2-3);
  margin-bottom: var(--scale-2-3);
  margin-right: var(--scale-2-4);
  border-radius: var(--scale-2-10);
  transition: var(--duration-superfast) var(--motion-smooth);
}

.theme-light button:last-child,
.theme-dark button:last-child {
  margin-right: 0;
}

.theme-light button:only-child,
.theme-dark button:only-child {
  margin-left: 0;
  margin-right: 0;
}

.mod-community-plugin .setting-item-control .theme-light button,
.mod-community-plugin .setting-item-control .theme-dark button {
  box-shadow: none;
}

.graph-controls .theme-light button,
.graph-controls .theme-dark button {
  font-size: var(--font-scale-0);
}

.theme-light button.copy-code-button,
.theme-dark button.copy-code-button {
  padding: var(--scale-2-1) var(--scale-2-4) var(--scale-2-3) var(--scale-2-4) !important;
  border-radius: var(--scale-2-2);
  margin-top: var(--scale-2-2);
  margin-right: var(--scale-2-2);
}

.theme-light .modal button,
.theme-light .graph-controls button,
.theme-light .workspace button,
.theme-light .popover button {
  border: 1px solid rgba(100, 100, 100, 0.4);
  box-shadow: 0px -2px 0px 0px rgba(100, 100, 100, 0.4) inset, 0px 2px 4px 0px rgba(100, 100, 100, 0.3);
}

.theme-light .modal button:active,
.theme-light .graph-controls button:active,
.theme-light .workspace button:active,
.theme-light .popover button:active {
  box-shadow: 0px 0px 0px 2px rgba(100, 100, 100, 0.3) inset, 0px 1px 1px 0px rgba(100, 100, 100, 0.1);
  transition: var(--duration-superfast) var(--motion-smooth);
}

.theme-dark .modal button,
.theme-dark .graph-controls button,
.theme-dark .workspace button,
.theme-dark .popover button {
  color: var(--color-d-white);
  border: 1px solid rgba(0, 0, 0, 0.55);
  box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.28) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.theme-dark .modal button:active,
.theme-dark .graph-controls button:active,
.theme-dark .workspace button:active,
.theme-dark .popover button:active {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  transition: var(--duration-superfast) var(--motion-smooth);
}

.theme-light .modal button:not(.mod-cta, .mod-warning),
.theme-light .modal.mod-settings button:not(.mod-cta, .mod-warning),
.theme-light .workspace button:not(.graph-controls button, .document-search-button),
.theme-light .popover button:not(.graph-controls button, .document-search-button),
.theme-light .search-result-file-match-destination-file {
  color: var(--color-l-gray-80);
  background: var(--color-l-whiter);
  border: 1px solid rgba(100, 100, 100, 0.3);
  box-shadow: 0px -2px 0px 0px rgba(100, 100, 100, 0.2) inset, 0px 2px 4px 0px rgba(100, 100, 100, 0.1);
}

.theme-light .modal button:not(.mod-cta, .mod-warning):hover,
.theme-light .modal button:not(.mod-cta, .mod-warning):focus,
.theme-light .modal.mod-settings button:not(.mod-cta, .mod-warning):hover,
.theme-light .modal.mod-settings button:not(.mod-cta, .mod-warning):focus,
.theme-light .workspace button:not(.graph-controls button, .document-search-button):hover,
.theme-light .workspace button:not(.graph-controls button, .document-search-button):focus,
.theme-light .popover button:not(.graph-controls button, .document-search-button):hover,
.theme-light .popover button:not(.graph-controls button, .document-search-button):focus,
.theme-light .search-result-file-match-destination-file:hover,
.theme-light .search-result-file-match-destination-file:focus {
  background: var(--color-l-gray-10);
}

.theme-light .modal button:not(.mod-cta, .mod-warning):active,
.theme-light .modal.mod-settings button:not(.mod-cta, .mod-warning):active,
.theme-light .workspace button:not(.graph-controls button, .document-search-button):active,
.theme-light .popover button:not(.graph-controls button, .document-search-button):active,
.theme-light .search-result-file-match-destination-file:active {
  box-shadow: 0px 0px 0px 2px rgba(100, 100, 100, 0.1) inset, 0px 1px 1px 0px rgba(100, 100, 100, 0.1);
  transition: var(--duration-superfast) var(--motion-smooth);
}

.theme-dark .modal button:not(.mod-cta, .mod-warning),
.theme-dark .modal.mod-settings button:not(.mod-cta, .mod-warning),
.theme-dark .workspace button:not(.graph-controls button, .document-search-button),
.theme-dark .popover button:not(.graph-controls button, .document-search-button),
.theme-dark .search-result-file-match-destination-file {
  color: var(--color-d-white);
  background: var(--color-d-black);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.3) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.theme-dark .modal button:not(.mod-cta, .mod-warning):hover,
.theme-dark .modal.mod-settings button:not(.mod-cta, .mod-warning):hover,
.theme-dark .workspace button:not(.graph-controls button, .document-search-button):hover,
.theme-dark .popover button:not(.graph-controls button, .document-search-button):hover,
.theme-dark .search-result-file-match-destination-file:hover {
  background: var(--color-d-blacker);
}

.theme-dark .modal button:not(.mod-cta, .mod-warning):active,
.theme-dark .modal.mod-settings button:not(.mod-cta, .mod-warning):active,
.theme-dark .workspace button:not(.graph-controls button, .document-search-button):active,
.theme-dark .popover button:not(.graph-controls button, .document-search-button):active,
.theme-dark .search-result-file-match-destination-file:active {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  transition: var(--duration-superfast) var(--motion-smooth);
}

button.clickable-icon[aria-label="Change sort order"] {
  margin-left: 0;
  margin-right: var(--scale-2-4);
}

span.community-theme-remove-button.clickable-icon {
  top: 6px;
  right: -3px;
  color: var(--text-on-accent);
  padding: var(--scale-2-2) var(--scale-2-2) var(--scale-0-0) var(--scale-2-2);
}

.theme-light span.community-theme-remove-button.clickable-icon {
  color: var(--color-l-gray-20);
  background: var(--color-l-red-300);
  box-shadow: 0px 1px 2px 0px rgba(100, 100, 100, 0.5), 0px -2px 0px 0px rgba(100, 20, 20, 0.18) inset;
}

.theme-light span.community-theme-remove-button.clickable-icon:hover {
  background: var(--color-l-red-500);
}

.theme-light span.community-theme-remove-button.clickable-icon:active {
  color: var(--color-l-red-900);
  background: var(--color-l-red-700);
  box-shadow: 0px 0px 0px 2px rgba(150, 20, 20, 0.55) inset;
  transition: var(--duration-superfast) var(--motion-smooth);
}

.theme-dark span.community-theme-remove-button.clickable-icon {
  color: var(--color-d-white);
  background: var(--color-d-red-500);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25), 0px -2px 0px 0px rgba(85, 8, 8, 0.38) inset;
}

.theme-dark span.community-theme-remove-button.clickable-icon:hover {
  background: var(--color-d-red-300);
}

.theme-dark span.community-theme-remove-button.clickable-icon:active {
  color: var(--color-d-red-900);
  background: var(--color-d-red-700);
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.45) inset;
  transition: var(--duration-superfast) var(--motion-smooth);
}

/*────────────────────────────────────
        Search Input Component
────────────────────────────────────*/
/*~ Global Search Input */

textarea,
input[type=text],
input[type=search],
input[type=email],
input[type=password],
input[type=number] {
  font-family: var(--font-interface-theme);
  font-size: var(--font-scale-1);
}

.theme-light textarea,
.theme-light input[type=text],
.theme-light input[type=search],
.theme-light input[type=email],
.theme-light input[type=password],
.theme-light input[type=number] {
  background: var(--color-l-gray-10);
  border: 1px solid var(--background-modifier-border);
}

.theme-light textarea:focus,
.theme-light input[type=text]:focus,
.theme-light input[type=search]:focus,
.theme-light input[type=email]:focus,
.theme-light input[type=password]:focus,
.theme-light input[type=number]:focus {
  background: var(--color-l-white);
  border: 1px solid var(--color-l-gray-60);
  box-shadow: 0px 0px 0px 3px var(--color-l-gray-40);
}

.theme-dark textarea,
.theme-dark input[type=text],
.theme-dark input[type=search],
.theme-dark input[type=email],
.theme-dark input[type=password],
.theme-dark input[type=number] {
  background: var(--color-d-gray-90);
  border: 1px solid var(--background-modifier-border);
}

.theme-dark textarea:focus,
.theme-dark input[type=text]:focus,
.theme-dark input[type=search]:focus,
.theme-dark input[type=email]:focus,
.theme-dark input[type=password]:focus,
.theme-dark input[type=number]:focus {
  background: var(--color-d-blacker);
  border: 1px solid var(--color-d-gray-50);
  box-shadow: 0px 0px 0px 3px var(--color-d-gray-60);
}

/*~ Command Palette & Quick Switcher Search Input ~*/
.prompt {
  padding: 0;
  border: 1px solid var(--background-modifier-border);
}

.prompt-results {
  padding: var(--scale-2-6);
  border-top: 1px solid var(--background-modifier-border);
}

.prompt input.prompt-input {
  font-size: var(--font-scale-2);
  background: var(--background-primary);
  padding: var(--scale-8-3);
  border: none;
}

.prompt input.prompt-input:focus {
  background: var(--background-primary);
  border: none;
  box-shadow: none;
}

/*────────KBD──────────*/
kbd,
.setting-hotkey {
  font-family: var(--font-monospace-theme);
}

.markdown-soure-view kbd,
.cm-s-obsidian kbd,
.markdown-preview-view kbd,
.markdown-soure-view .setting-hotkey,
.cm-s-obsidian .setting-hotkey,
.markdown-preview-view .setting-hotkey {
  padding: 3px 8px;
}

.theme-light kbd,
.theme-light .setting-hotkey {
  font-size: var(--font-scale-0);
  color: var(--color-l-red-300);
  background: var(--color-l-gray-20);
  border: 1px solid rgba(100, 100, 100, 0.1);
  box-shadow: 0px -2px 0px 0px rgba(100, 100, 100, 0.1) inset, 0px 2px 4px 0px rgba(100, 100, 100, 0.1);
}

.theme-dark kbd,
.theme-dark .setting-hotkey {
  font-size: var(--font-scale-0);
  color: var(--color-d-red-500);
  background: var(--color-d-gray-90);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.15) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.suggestion-hotkey {
  padding: 1px 8px 3px 8px;
  margin-top: -3px;
}

.prompt-instruction-command {
  font-family: var(--font-monospace);
  font-size: var(--font-scale-0);
  background: var(--background-secondary);
  padding: var(--scale-2-1) var(--scale-2-2) calc(1px + var(--scale-2-1)) var(--scale-2-2);
  border: 1px solid var(--background-modifier-border);
  border-radius: var(--scale-2-2);
}

.theme-light .prompt-instruction-command {
  font-size: var(--font-scale-0);
  color: var(--color-l-red-300);
  background: var(--color-l-gray-20);
  border: 1px solid rgba(100, 100, 100, 0.1);
  box-shadow: 0px -2px 0px 0px rgba(100, 100, 100, 0.1) inset, 0px 2px 4px 0px rgba(100, 100, 100, 0.1);
}

.theme-dark .prompt-instruction-command {
  color: var(--color-d-red-500);
  background: var(--color-d-gray-90);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.15) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

/*────────────────────────────────────
    Toggle (Checkboxes for Modals)
────────────────────────────────────*/
.checkbox-container {
  height: calc(3px + var(--scale-8-3));
  width: calc(2px + var(--scale-8-6));
  border-radius: var(--scale-8-4);
}

.checkbox-container:after {
  height: calc(4px + var(--scale-8-2));
  width: calc(4px + var(--scale-8-2));
  border-radius: var(--scale-8-4);
  margin: 2.5px 0 0 0px;
}

.checkbox-container:active::after {
  width: calc(4px + var(--scale-8-3));
}

.checkbox-container.is-enabled {
  transition: var(--duration-fast-2) var(--motion-smooth);
}

.checkbox-container.is-enabled:after {
  transform: translate3d(24px, 0, 0);
  margin-left: 1px;
}

.checkbox-container.is-enabled:active::after {
  left: -8px;
}

.theme-light .checkbox-container {
  background: var(--color-l-gray-40);
  border: 1px solid var(--color-l-gray-40);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5), 0px 0px 2px 1px rgba(100, 100, 100, 0.35) inset;
}

.theme-light .checkbox-container::after {
  background: var(--color-l-whiter);
  box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.45), 0px -2px 0px 0px rgba(100, 100, 100, 0.15) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.9) inset;
}

.theme-light .checkbox-container.is-enabled {
  border: 1px solid var(--color-l-green-300);
  background: var(--color-l-green-500);
}

.theme-dark .checkbox-container {
  background: var(--color-d-gray-40);
  border: 1px solid var(--color-d-gray-30);
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 0px 2px 1px rgba(0, 0, 0, 0.35) inset;
}

.theme-dark .checkbox-container::after {
  background: var(--color-d-white);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.45), 0px -2px 0px 0px rgba(0, 0, 0, 0.15) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.35) inset;
}

.theme-dark .checkbox-container.is-enabled {
  border: 1px solid var(--color-d-green-700);
  background: var(--color-d-green-900);
}

/*────────────────────────────────────
                Slider
────────────────────────────────────*/
input[type=range] {
  min-width: 150px;
  background-color: transparent;
  padding: 0px;
  -webkit-appearance: none;
  cursor: default;
}

input[type=range]::-webkit-slider-runnable-track {
  height: var(--scale-2-3);
  border-radius: var(--scale-2-3);
}

.theme-light input[type=range]::-webkit-slider-runnable-track {
  background: var(--background-modifier-border);
  border-radius: var(--scale-2-2);
  border: 1px solid rgba(100, 100, 100, 0.2);
}

.theme-dark input[type=range]::-webkit-slider-runnable-track {
  background: var(--background-modifier-border);
  border-radius: var(--scale-2-2);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

input[type=range]::-webkit-slider-thumb {
  height: var(--scale-2-10);
  width: var(--scale-2-4);
  margin-top: -4px;
  cursor: ew-resize;
  transition: var(--duration-fast-1) var(--motion-jumpy);
  border-radius: var(--scale-8-2);
}

.theme-light input[type=range]::-webkit-slider-thumb {
  background: var(--color-l-blue-300);
  border: 1px solid rgba(100, 100, 100, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(100, 100, 100, 0.45), 0px -2px 0px 0px rgba(100, 100, 100, 0.15) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.35) inset;
}

.theme-dark input[type=range]::-webkit-slider-thumb {
  background: var(--color-d-blue-700);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.45), 0px -2px 0px 0px rgba(0, 0, 0, 0.15) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.35) inset;
}

/*────────────────────────────────────
            Dropdown
────────────────────────────────────*/
.dropdown {
  font-family: var(--font-interface-theme);
  font-size: var(--font-scale-0-5);
  line-height: var(--line-height-1);
  width: 215px;
  padding: var(--scale-2-2) var(--scale-2-8) var(--scale-2-2) var(--scale-2-8);
  margin: var(--scale-2-2) 0;
  transition: var(--duration-fast-1) var(--motion-smooth);
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' id='Outline' viewBox='0 0 24 24' width='100%25' height='100%25'%3E%3Cpath d='M18.71,8.21a1,1,0,0,0-1.42,0l-4.58,4.58a1,1,0,0,1-1.42,0L6.71,8.21a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.59,4.59a3,3,0,0,0,4.24,0l4.59-4.59A1,1,0,0,0,18.71,8.21Z'/%3E%3C/svg%3E%0A");
}

.theme-light .dropdown {
  color: var(--color-l-gray-80);
  background-color: var(--color-l-whiter);
  border: 1px solid rgba(100, 100, 100, 0.5);
  border-radius: var(--scale-2-2);
  box-shadow: 0px -2px 0px 0px rgba(100, 100, 100, 0.1) inset, 0px 2px 4px 0px rgba(100, 100, 100, 0.1);
}

.theme-light .dropdown:hover {
  background-color: var(--color-l-gray-20);
  transition: var(--duration-fast-1) var(--motion-delay);
}

.theme-dark .dropdown {
  color: var(--color-d-gray-10);
  background-color: var(--color-d-gray-90);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.15) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.theme-dark .dropdown:hover {
  background-color: var(--color-d-blacker);
  transition: var(--duration-fast-1) var(--motion-delay);
}

/*────────────────────────────────────
            Empty Page
────────────────────────────────────*/
.empty-state-title {
  display: none;
}

.empty-state-action,
.is-mobile .empty-state-action {
  font-size: var(--font-scale-0-5);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;
  width: 26ch;
  background: var(--background-primary-alt);
  padding: var(--scale-2-6) 0;
  border-radius: var(--scale-8-4);
  border: 1px solid var(--background-modifier-border);
  margin-bottom: var(--scale-2-4);
  transition: var(--duration-superfast) var(--motion-smooth);
}

.theme-light .empty-state-action:active,
.theme-light .is-mobile .empty-state-action:active {
  background: var(--background-secondary);
  box-shadow: 0px 0px 0px 3px rgba(150, 150, 150, 0.15) inset;
}

.theme-light .empty-state-action:nth-child(3n+1):hover,
.theme-light .empty-state-action:nth-child(3n+1) :focus,
.theme-light .is-mobile .empty-state-action:nth-child(3n+1):hover,
.theme-light .is-mobile .empty-state-action:nth-child(3n+1) :focus {
  color: var(--color-l-yellow-500);
  border: 1px solid var(--color-l-yellow-500);
}

.theme-light .empty-state-action:nth-child(3n+1):active,
.theme-light .is-mobile .empty-state-action:nth-child(3n+1):active {
  color: var(--color-l-yellow-700);
  border: 1px solid var(--color-l-yellow-700);
}

.theme-light .empty-state-action:nth-child(3n+2):hover,
.theme-light .empty-state-action:nth-child(3n+2) :focus,
.theme-light .is-mobile .empty-state-action:nth-child(3n+2):hover,
.theme-light .is-mobile .empty-state-action:nth-child(3n+2) :focus {
  color: var(--color-l-red-500);
  border: 1px solid var(--color-l-red-500);
}

.theme-light .empty-state-action:nth-child(3n+2):active,
.theme-light .is-mobile .empty-state-action:nth-child(3n+2):active {
  color: var(--color-l-red-700);
  border: 1px solid var(--color-l-red-700);
}

.theme-light .empty-state-action:nth-child(3n+3):hover,
.theme-light .empty-state-action:nth-child(3n+3) :focus,
.theme-light .is-mobile .empty-state-action:nth-child(3n+3):hover,
.theme-light .is-mobile .empty-state-action:nth-child(3n+3) :focus {
  color: var(--color-l-blue-500);
  border: 1px solid var(--color-l-blue-500);
}

.theme-light .empty-state-action:nth-child(3n+3):active,
.theme-light .is-mobile .empty-state-action:nth-child(3n+3):active {
  color: var(--color-l-blue-700);
  border: 1px solid var(--color-l-blue-700);
}

.theme-dark .empty-state-action,
.theme-dark .is-mobile .empty-state-action {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px -3px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

.theme-dark .empty-state-action:active,
.theme-dark .is-mobile .empty-state-action:active {
  background: var(--background-secondary);
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.3) inset;
}

.theme-dark .empty-state-action:nth-child(3n+1):hover,
.theme-dark .empty-state-action:nth-child(3n+1) :focus,
.theme-dark .is-mobile .empty-state-action:nth-child(3n+1):hover,
.theme-dark .is-mobile .empty-state-action:nth-child(3n+1) :focus {
  color: var(--color-d-yellow-700);
  border: 1px solid var(--color-d-yellow-700);
}

.theme-dark .empty-state-action:nth-child(3n+1):active,
.theme-dark .is-mobile .empty-state-action:nth-child(3n+1):active {
  color: var(--color-d-yellow-900);
  border: 1px solid var(--color-d-yellow-900);
}

.theme-dark .empty-state-action:nth-child(3n+2):hover,
.theme-dark .empty-state-action:nth-child(3n+2) :focus,
.theme-dark .is-mobile .empty-state-action:nth-child(3n+2):hover,
.theme-dark .is-mobile .empty-state-action:nth-child(3n+2) :focus {
  color: var(--color-d-red-700);
  border: 1px solid var(--color-d-red-700);
}

.theme-dark .empty-state-action:nth-child(3n+2):active,
.theme-dark .is-mobile .empty-state-action:nth-child(3n+2):active {
  color: var(--color-d-red-900);
  border: 1px solid var(--color-d-red-900);
}

.theme-dark .empty-state-action:nth-child(3n+3):hover,
.theme-dark .empty-state-action:nth-child(3n+3) :focus,
.theme-dark .is-mobile .empty-state-action:nth-child(3n+3):hover,
.theme-dark .is-mobile .empty-state-action:nth-child(3n+3) :focus {
  color: var(--color-d-blue-700);
  border: 1px solid var(--color-d-blue-700);
}

.theme-dark .empty-state-action:nth-child(3n+3):active,
.theme-dark .is-mobile .empty-state-action:nth-child(3n+3):active {
  color: var(--color-d-blue-900);
  border: 1px solid var(--color-d-blue-900);
}

/*────────────────────────────────────
            Notifacation
────────────────────────────────────*/
.notice {
  font-family: var(--font-monospace-theme);
  border-radius: var(--scale-2-4);
  transition: var(--duration-moderate-2) var(--motion-jumpy);
}

.theme-light .notice {
  color: var(--color-l-black);
  background: var(--color-l-yellow-300);
  box-shadow: 0px 1px 0px rgba(17, 17, 26, 0.05), 0px 0px 8px rgba(17, 17, 26, 0.1);
}

.theme-dark .notice {
  color: var(--color-d-black);
  background: var(--color-d-yellow-700);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05), 0px 0px 8px rgba(0, 0, 0, 0.1);
}

/*────────────────────────────────────
            Popovers
────────────────────────────────────*/
:root {
  --popover-min: 150px;
  --popover-default: 40vw;
  --popover-max: 600px;
}

.popover.hover-popover {
  width: clamp(var(--popover-min), var(--popover-default), var(--popover-max));
  border-radius: var(--scale-2-6);
  border: 1px solid var(--background-modifier-border);
  box-shadow: var(--shadow-l) var(--background-modifier-box-shadow);
}

.popover.hover-popover .markdown-embed {
  border: none;
}

.popover.hover-popover .markdown-preview-view {
  background: var(--background-primary);
  padding: var(--scale-8-1) var(--scale-8-6) var(--scale-8-1) var(--scale-8-6);
}

.popover.hover-popover::-webkit-scrollbar {
  display: none;
}

/*────────────────────────────────────
            Scrollbars
────────────────────────────────────*/
body:not(.native-scrollbars) ::-webkit-scrollbar,
body:not(.native-scrollbars) .graph-controls::-webkit-scrollbar {
  visibility: visible;
  width: var(--scale-2-2);
  height: var(--scale-2-2);
  border-radius: 0;
  display: inherit;
  background: var(--scrollbar-bg);
}

body:not(.native-scrollbars) ::-webkit-scrollbar-thumb {
  visibility: visible;
  background: var(scrollbar-thumb-bg);
  border-radius: 0;
}

body:not(.native-scrollbars) ::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-active-thumb-bg);
  border-radius: 0;
}

/* Thin Scrollbar */
.scrollbar__thin.scrollbar__thin:not(.native-scrollbars) ::-webkit-scrollbar,
.scrollbar__thin.scrollbar__thin:not(.native-scrollbars) .graph-controls::-webkit-scrollbar {
  visibility: visible;
  width: var(--scale-2-2);
  height: var(--scale-2-2);
  border-radius: 0;
  display: inherit;
  background: var(--scrollbar-bg);
}

.scrollbar__thin.scrollbar__thin:not(.native-scrollbars) ::-webkit-scrollbar-thumb {
  visibility: visible;
  background: var(scrollbar-thumb-bg);
  border-radius: 0;
}

.scrollbar__thin.scrollbar__thin:not(.native-scrollbars) ::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-active-thumb-bg);
  border-radius: 0;
}

/* Mac (Grabbable) Scrollbar */
.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) ::-webkit-scrollbar {
  background: var(--scrollbar-bg);
  visibility: visible;
  width: 12px;
  height: 12px;
  border-radius: 0;
}

.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) ::-webkit-scrollbar-thumb,
.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) .node-insert-event ::-webkit-scrollbar-thumb {
  visibility: visible;
  background: var(scrollbar-thumb-bg);
  border: 5px solid var(--background-primary);
  border-radius: 24px;
}

.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) ::-webkit-scrollbar-thumb:hover,
.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) .node-insert-event ::-webkit-scrollbar-thumb:hover {
  background: var(--interactive-accent);
  border-width: 3px;
  border-radius: 24px;
}

.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) ::-webkit-scrollbar-thumb:active,
.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) .node-insert-event ::-webkit-scrollbar-thumb:active {
  border-radius: 24px;
}

.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) .workspace-tabs ::-webkit-scrollbar-thumb {
  background: var(--background-modifier-border);
  border: 5px solid var(--background-secondary);
}

.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) .workspace-tabs ::-webkit-scrollbar-thumb:hover {
  background: var(--interactive-accent);
  border-width: 3px;
  border-radius: 24px;
}

.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) .workspace-tabs ::-webkit-scrollbar-thumb:active {
  border-radius: 24px;
}

.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) .markdown-embed:not(.hover-popover .markdown-embed) ::-webkit-scrollbar-thumb {
  border: 5px solid var(--background-primary-alt);
}

.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) .markdown-embed:not(.hover-popover .markdown-embed) ::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-active-thumb-bg);
  border-width: 3px;
  border-radius: 24px;
}

.scrollbar__mac.scrollbar__mac:not(.native-scrollbars) .markdown-embed:not(.hover-popover .markdown-embed) ::-webkit-scrollbar-thumb:active {
  border-radius: 24px;
}

body.plugin-sliding-panes.scrollbar__mac .workspace-split.mod-vertical.mod-root {
  background: var(--background-primary);
}

body.plugin-sliding-panes-rotate-header .workspace>.mod-root>.workspace-leaf>.workspace-leaf-content>.view-content {
  border-bottom: 1px solid var(--background-modifier-border);
}

/* Hidden Scrollbar */
.scrollbar__hidden:not(.native-scrollbars) ::-webkit-scrollbar {
  display: none;
}

/*────────────────────────────────────
            Tooltips
────────────────────────────────────*/
.tooltip {
  background: var(--text-normal);
  color: var(--background-primary);
  box-shadow: var(--shadow-s) var(--background-modifier-box-shadow);
}

.tooltip .tooltip-arrow {
  border-bottom: 5px solid var(--text-normal);
}

.tooltip.mod-top .tooltip-arrow {
  border-top: 5px solid var(--text-normal);
}

.tooltip.mod-right .tooltip-arrow {
  border-right: 5px solid var(--text-normal);
}

.mod-error .tooltip.mod-right .tooltip-arrow {
  border-right-color: var(--background-modifier-error);
  border-bottom: 5px solid transparent;
}

.tooltip.mod-left .tooltip-arrow {
  border-left: 5px solid var(--text-normal);
}

.mod-error .tooltip.mod-left .tooltip-arrow {
  border-left-color: var(--background-modifier-error);
  border-bottom: 5px solid transparent;
}

/*────────────────────────────────────
        Vault Launch Progress
────────────────────────────────────*/
.is-loading:before,
.search-result-container.is-loading:before {
  background-color: var(--background-primary);
  animation: var(--duration-slow-2) var(--motion-smooth) infinite progress-bar;
}

.progress-bar {
  background: var(--background-primary);
}

.progress-bar-indicator {
  width: 35%;
  overflow: hidden;
  height: var(--scale-2-6);
  border-radius: var(--scale-2-6);
  border: 1px solid var(--background-modifier-border);
}

.progress-bar-line {
  height: var(--scale-2-6);
  position: absolute;
  background: var(--background-secondary);
  border-radius: var(--scale-2-6);
}

.progress-bar-subline {
  height: var(--scale-2-5);
  border-radius: var(--scale-2-6);
}

.theme-light .progress-bar-subline {
  /* VLP for Light Mode */
  background: var(--color-l-green-500);
}

.theme-dark .progress-bar-subline {
  /* VLP for Dark Mode */
  background: var(--color-d-green-900);
}

.progress-bar-message {
  display: none;
}

/*────────────────────────────────────
++++++++++++++++++++++++++++++++++++++
                Slides
++++++++++++++++++++++++++++++++++++++
──────────────────────────────────────*/
.reveal {
  color: var(--md-color-text);
  background: var(--background-primary);
}

.reveal .progress {
  height: var(--scale-8-1);
  border-top: 1px solid var(--background-modifier-border);
}

.theme-light .reveal .progress {
  background: var(--color-l-gray-30);
  color: var(--color-l-blue-300);
}

.theme-dark .reveal .progress {
  background: var(--color-d-black);
  color: var(--color-d-blue-900);
}

.theme-light .reveal .controls {
  color: var(--color-l-gray-50);
}

.theme-dark .reveal .controls {
  color: var(--color-d-gray-30);
}

.reveal p {
  color: var(--md-color-text);
  margin-left: var(--scale-8-4);
  margin-right: var(--scale-8-4);
}

.reveal h1 {
  color: var(--h1-text-color);
  font-size: var(--h1);
  line-height: var(--header-line-height);
  text-align: center;
  margin-bottom: 0;
  text-transform: unset;
}

.reveal h2 {
  color: var(--h2-text-color);
  font-size: var(--h2);
  line-height: var(--header-line-height);
  text-align: center;
  margin-bottom: 0;
  text-transform: unset;
}

.reveal h3 {
  color: var(--h3-text-color);
  font-size: var(--h3);
  line-height: var(--header-line-height);
  text-align: center;
  margin-bottom: 0;
  text-transform: unset;
}

.reveal h4 {
  color: var(--h4-text-color);
  font-size: var(--h4);
  line-height: var(--header-line-height);
  text-align: center;
  margin-bottom: 0;
  text-transform: unset;
}

.reveal h5 {
  color: var(--h5-text-color);
  font-size: var(--h5);
  line-height: var(--header-line-height);
  text-align: center;
  margin-bottom: 0;
  text-transform: unset;
}

.reveal h6 {
  color: var(--h6-text-color);
  font-size: var(--h6);
  line-height: var(--header-line-height);
  text-align: center;
  margin-bottom: 0;
  text-transform: unset;
}

.reveal img {
  height: clamp(200px, 60vh, 960px);
  margin-top: 0;
}

.reveal .slides>section {
  padding: 0 0;
}

.slides-close-btn {
  top: var(--scale-8-2);
  right: var(--scale-8-2);
}

.slides-close-btn svg {
  display: none;
}

.slides-close-btn::before {
  content: "×";
}
